*{
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

header{
    height: 420px;
    max-width: 1920px;
    background-image: url(images/header05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #407bcb;
}

/*#################################################################################*/
/*##################################### TITLE #####################################*/
/*#################################################################################*/

h1{
    font-size: 136px;
    color: rgb(255, 170, 0);
    text-align: center;
    text-shadow: 5px 0px 20px #006cfa, 0px 5px 20px #9a00fa, -5px 0px 20px #006cfa, 0px -5px 20px #9a00fa;
    font-family: 'New Walt Disney Font', sans-serif;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    padding-top: 60px;
    padding-bottom: 35px;
}

.genie-head{
    position: absolute;
    left: 2%;
}

.head{
    position: relative;
    width: 150px;
    height: 150px;
    padding: 50px;
    animation: boucle3 3s linear infinite;
    transform-origin: center;
    z-index: 10;
}

@keyframes boucle3 {
    0%, 100% {
        transform: rotate(0deg) scale(1);
      }
      25% {
        transform: rotate(-15deg) scale(1.2);
      }
      75% {
        transform: rotate(15deg) scale(1);
      }
}

.img-smoke{
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: 0.6;
    z-index: 9;
}

.carpet{
    position: absolute;
    top: 3%;
    right: 2%;
    width: 300px;
    height: 320px;
    animation: boucle7 5s linear infinite;
}

@keyframes boucle7 {
    0%, 100% {
        transform: translateY(0) rotate(0deg) scale(1);
      }
      25% {
        transform: translateY(-10px) rotate(-5deg) scale(1.05);
      }
      75% {
        transform: translateY(10px) rotate(5deg) scale(1);
      }
}

/*#################################################################################*/
/*################################### TITLE END ###################################*/
/*#################################################################################*/




/*#################################################################################*/
/*##################################### AUDIO #####################################*/
/*#################################################################################*/

/* Styles pour le lecteur audio */
audio {
    width: 300px; /* Largeur du lecteur audio */
    margin: 20px 0; /* Marge autour du lecteur audio */
    animation: boucle4 1s linear infinite;
    margin-left: 2rem;
  }

  @keyframes boucle4 {
    0%, 100% {
        filter: drop-shadow(5px 0px 10px #0056c634) drop-shadow(0px 5px 10px #6400bc34) drop-shadow(-5px 0px 10px #0056c634) drop-shadow(0px -5px 10px #6400bc34);
      }
      50% {
        filter: drop-shadow(5px 0px 10px #0056c6b3) drop-shadow(0px 5px 10px #6400bcb3) drop-shadow(-5px 0px 10px #0056c6b3) drop-shadow(0px -5px 10px #6400bcb3);
      }
}

.music-display{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-50px);
}

.play-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

  
  /* Styles pour les contrôles de lecture */
  audio::-webkit-media-controls-panel {
    background-color: #2d006dad; /* Couleur de fond des contrôles */
    color: rgb(255, 170, 0); /* Couleur du texte des contrôles */
    border-radius: 5px; /* Bordure arrondie des contrôles */
  }

.inst-play{
    font-size: 56px;
    color: rgb(255, 170, 0);
    font-family: 'New Walt Disney Font', sans-serif;
    margin-left: 2rem;
    animation: boucle6 1s linear infinite;
}

@keyframes boucle6 {
    0%, 100% {
        transform: translateY(40px) scale(1);
        filter: drop-shadow(5px 0px 10px #0056c634) drop-shadow(0px 5px 10px #6400bc34) drop-shadow(-5px 0px 10px #0056c634) drop-shadow(0px -5px 10px #6400bc34);
      }
      50% {
        transform: translateY(40px) scale(1.05);
        filter: drop-shadow(5px 0px 10px #0056c6b3) drop-shadow(0px 5px 10px #6400bcb3) drop-shadow(-5px 0px 10px #0056c6b3) drop-shadow(0px -5px 10px #6400bcb3);
      }
}

.arrow-left{
    width: 200px;
    height: 154px;
    animation: boucle5 1s linear infinite;
}

@keyframes boucle5 {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(5px 0px 10px #0056c634) drop-shadow(0px 5px 10px #6400bc34) drop-shadow(-5px 0px 10px #0056c634) drop-shadow(0px -5px 10px #6400bc34);
      }
      50% {
        transform: scale(1.1);
        filter: drop-shadow(5px 0px 10px #0056c6b3) drop-shadow(0px 5px 10px #6400bcb3) drop-shadow(-5px 0px 10px #0056c6b3) drop-shadow(0px -5px 10px #6400bcb3);
      }
}
  
  /* Styles pour le bouton lecture/pause */
  audio::-webkit-media-controls-play-button {
    background-color: rgb(255, 170, 0);
    border-radius: 15rem;
  }
  
  audio::-webkit-media-controls-pause-button {
    background-color: rgb(255, 170, 0);
    border-radius: 15rem;
  }
  
  /* Style pour la barre de progression */
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: rgb(255, 170, 0); /* Couleur du texte de la barre de progression */
  }
  
  audio::-webkit-media-controls-seek-back-button,
  audio::-webkit-media-controls-seek-forward-button {
    background-color: #5100c2ad; /* Couleur de fond des boutons de recherche */
  }
/*#################################################################################*/
/*################################### AUDIO END ###################################*/
/*#################################################################################*/




/*#################################################################################*/
/*##################################### MAIN ######################################*/
/*#################################################################################*/

main{
    background-image: url(images/Agrabah2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
    max-width: 1920px;
    max-height: 950px;
    border-top: 5px solid #99732e;
    border-bottom: 5px solid #99732e;
    box-shadow: inset 0 20px 30px 5px rgba(0, 0, 0, 0.5),
                inset 0 -20px 30px 5px rgba(0, 0, 0, 0.5);
}

h2{
    font-size: 80px;
    text-align: center;
    color: rgb(255, 170, 0);
    text-shadow: 5px 0px 20px #00367d, 0px 5px 20px #4e0093, -5px 0px 20px #00367d, 0px -5px 20px #4e0093;
    margin-bottom: 2rem;
    font-family: 'New Walt Disney Font', sans-serif;
}


.zone-form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
}

form{
    margin-bottom: 2rem;
}

.formulaire{
    padding-left: 3rem;
}

label{
    font-size: 30px;
    color: rgb(255, 170, 0);
    text-shadow: 5px 0px 20px #00367d, 0px 5px 20px #4e0093, -5px 0px 20px #00367d, 0px -5px 20px #4e0093;
    font-family: 'New Walt Disney Font', sans-serif;
    padding: 0 0.5rem;
}

.img-lamp{
    animation: boucle2 2s linear infinite;
    width: 300px;
    height: 195px;
    transform-origin: center;
}


@keyframes boucle2 {
    0%, 50%, 75%, 100% {
        transform: translateX(-150px) rotate(0deg) scale(1);
      }
      10% {
        transform: translateX(-150px) rotate(-5deg) scale(1.05);
      }
      15% {
        transform: translateX(-150px) rotate(5deg) scale(1.05);
        filter: drop-shadow(5px 0px 10px #0056c6b3) drop-shadow(0px 5px 10px #6400bcb3) drop-shadow(-5px 0px 10px #0056c6b3) drop-shadow(0px -5px 10px #6400bcb3);
      }
      20% {
        transform: translateX(-150px) rotate(-5deg) scale(1.05);
      }
      25% {
        transform: translateX(-150px) rotate(5deg) scale(1.05);
      }
}

.btn-send{
    font-size: 48px;
    color: rgb(255, 170, 0);
    font-family: 'New Walt Disney Font', sans-serif;
    border-radius: 1rem;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0);
    padding: 0.5rem 1rem;
    background-color: #13021f;
    margin-left: 500px;
}

textarea{
    font-size: 24px;
    color: rgb(255, 170, 0);
    font-family: 'New Walt Disney Font', sans-serif;
    border-radius: 1rem;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0);
    padding: 0.5rem 1rem;
    background-color: #13021f;
    background-image: url(images/backg001.jpg);
    background-size: cover;
    background-position: center;
}

.name-mail{
    display: flex;
    flex-direction: row;
}

.area-text{
    font-size: 24px;
    color: rgb(255, 170, 0);
    font-family: 'New Walt Disney Font', sans-serif;
    border-radius: 1rem;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 15px 0px rgba(0,0,0,0);
    padding: 0.5rem 1rem;
    background-color: #13021f;
}

.img-genie{
    animation: boucle 5s linear infinite;
}

@keyframes boucle {
    0%, 100% {
        transform: translateY(0);
        filter: drop-shadow(5px 0px 10px #0056c634) drop-shadow(0px 5px 10px #6400bc34) drop-shadow(-5px 0px 10px #0056c634) drop-shadow(0px -5px 10px #6400bc34);
      }
      50% {
        transform: translateY(-30px);
        filter: drop-shadow(5px 0px 10px #0056c6b3) drop-shadow(0px 5px 10px #6400bcb3) drop-shadow(-5px 0px 10px #0056c6b3) drop-shadow(0px -5px 10px #6400bcb3);
      }
}
/*#################################################################################*/
/*################################### MAIN END ####################################*/
/*#################################################################################*/
